<!DOCTYPE html>
<html>
<head>
	<title>Parties</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="tachyons.min.css">
	<link rel="stylesheet" type="text/css" href="master.css">
	<style>
	.partysuggest + .partysuggest:before {
		content: " or ";
		font-weight: normal !important;
	}

	.flg {
		flex-grow: 1;
	}

	.confirm {
		max-width: 0;
	    transition: max-width 0.15s ease-out;
	    overflow: hidden;
		pointer-events: none;
		background: #EEE;
	}

	#save-btn {
		user-select: none;
		overflow: hidden;
	}

	#save-btn:hover .confirm {
		padding-left: 5px;
		padding-right: 5px;
		max-width: 200px;
	    transition: max-width 0.1s ease-in;
		pointer-events: all;
	}

	.confirm:after {
		content: "?"
	}

	.confirm:hover {
		max-width: 200px;
		pointer-events: all;
		background: #2ECC40;
		color: white;
	}

	.confirm:hover:after {
		content: "!"
	}

	.confirm:active {
		padding-left: 5px;
		padding-right: 5px;
		max-width: 200px;
		pointer-events: all;
		background: black;
		color: #01FF70;
	}
	</style>
</head>
<body class='pv5'>
	<header  style='max-width: 1140px;' class='center ph4'>
		<h1 class='dib poppins'>Advertiser categoriser</h1>&nbsp;&nbsp;&nbsp;&nbsp;
		<!-- <h1 class='dib poppins'>Advert statistics</h1>&nbsp;&nbsp;&nbsp;&nbsp;
		<h1 class='dib poppins'>Extension statistics</h1>&nbsp;&nbsp;&nbsp;&nbsp; -->
	</header>
	<div class='cf'></div>
	<div id='loading' class='measure center tc' style="width: 400px">
		<div class='pv6 dotdotdot f3 lh-title poppins b mb3 tc'>One sec</div>
	</div>
	<div id='app' style='display: none;'>
		<section style='max-width: 1180px;' class='center bg-light-gray'>
			<div style='max-width: 1140px;' class='center ph4 pv3 '>
				<h3 class='center gray poppins'>Ad statistics</h3>
				<div>
					<div class='fl w-50' id='political'></div>
					<div class='fl w-50' id='parties'></div>
				</div>
				<div class='cf'></div>
			</div>
		</section>
		<advertiser-table style='max-width: 1140px;' class='center ph4 pv3'
			:suggestengine='suggestengine'
			:politicians='politicians'
			:parties='parties'
			:advertisers='advertisersToClassify'>
			<span class='dib v-mid'>To-do</span>
		</advertiser-table>
		<advertiser-table style='max-width: 1140px;' class='center ph4 pv3'
			:suggestengine='suggestengine'
			:politicians='politicians'
			:parties='parties'
			:advertisers='advertisersClassified'
			:finished=true>
			<span class='dib v-mid'>Categorised</span>
			<div id='save-btn' class='br2 dib v-mid f5 ba b--gray gray pointer lato'>
				<div class='dib v-mid ph2 pv1'>Save categorised</div>
				<div id='save' v-on:click='save()' class='dib pv1 v-mid dib confirm b'>Really</div>
			</div>
		</advertiser-table>
		<!-- <section style='max-width: 1140px;' class='center ph4 pv3 o-40' is='advertiser-table' :suggestengine='suggestengine' :politicians='politicians' :parties='parties' :advertisers='advertisers'>All ads</section> -->
	</div>

	<script type="text/x-template" id='advertiser-table'>
		<div v-if='advertisers.length > 0'>
			<div class='f3 mt3 b poppins'><slot></slot></div>
			<div class='f4'>{{advertisers.length}} advertisers</div>
			<table v-if='advertisers.length > 0' class='w-100 collapse mt3'>
				<thead>
					<th class='tl' colspan=2>Advertiser</th>
					<th class='tl' style='width: 120px;'>Suggested</th>
					<th class='tl' colspan=2>Involvement in UK politics</th>
					<th class='tr'>Selected stance/party</th>
				</thead>
				<tr v-for="advertiser in advertisers" :key="advertiser.advertiser_id">
					<td style='width:50px;'>
						<a :href="'https://facebook.com/'+advertiser.advertiser_id" class='mr1 pointer' target="_blank">
							<img class='dib v-mid' style='height: 50px; width: 50px;'  :src="'http://graph.facebook.com/'+advertiser.advertiser_id+'/picture?type=square'" />
						</a>
					</td>
					<td class='w-20'>
						<a :href="'https://facebook.com/'+advertiser.advertiser_id" class='pointer' target="_blank">
							<div class='pl2 dib v-mid'>
								<div class='dark-blue b'>{{advertiser.advertiser}}</div>
							</div>
						</a>
					</td>
					<td>
						<party-span v-for='party in suggestParty(advertiser)' :key='party.id' :party='party' class='pointer partysuggest' @click.native="advertiser.affiliation = party.id; touch(advertiser,'affiliation')" :class='{selected: party.id == advertiser.affiliation}'></party-span>
					</td>
					<td class='tl'>
						<span v-if='finished'>
							<input :name="advertiser.advertiser_id+'political'" class='pointer' @click="touch(advertiser,'political')" :id="advertiser.advertiser_id+'undecided'" type="radio" value='' v-model="advertiser.political">
							<label class='pointer f7 dib v-mid' :for="advertiser.advertiser_id+'undecided'">Reset</label>
						</span>
						&nbsp;&nbsp;
						<span>
							<input :name="advertiser.advertiser_id+'political'" class='pointer' @click="touch(advertiser,'political')" :id="advertiser.advertiser_id+'nonpolitical'" type="radio" value=false v-model="advertiser.political">
							<label class='pointer f7 dib v-mid' :for="advertiser.advertiser_id+'nonpolitical'">Non-political</label>
						</span>
						&nbsp;&nbsp;
						<span>
							<input :name="advertiser.advertiser_id+'political'" class='pointer' @click="touch(advertiser,'affiliation')" :id="advertiser.advertiser_id+'nonpartisan'" type="radio" value='no-party' v-model="advertiser.affiliation">
							<label class='pointer f7 b dib v-mid' :for="advertiser.advertiser_id+'nonpartisan'">Non-partisan<br>Campaigner</label>
						</span>
						<!-- &nbsp;&nbsp;&nbsp;
						<span>
							<input :name="advertiser.advertiser_id+'political'" class='pointer' @click="touch(advertiser,'political')" :id="advertiser.advertiser_id+'political'" type="radio" value=true v-model="advertiser.political">&nbsp;
							<label class='pointer' :for="advertiser.advertiser_id+'political'">Campaiging</label>
						</span> -->
					</td>
					<td>
						<div class='flex'>
							<div class='v-mid flg'>
								<div class='flex lh-copy'>
									<party-span v-for="party in topparties(5)" @click.native="advertiser.affiliation = party.id; touch(advertiser,'affiliation')" :party='party' class='pointer flg' :class='{selected: party.id == advertiser.affiliation}' :chars=4></party-span>
								</div>
							</div>
						</div>
					</td>
					<td class='tr'>
						<div class='flex'>
							<select class='lh-copy v-mid flg br2 pointer b ph2 pv1 selected' v-model="advertiser.affiliation" @click.stop="touch(advertiser,'affiliation',$event)"
								:class='"party-"+advertiser.affiliation'>
								<optgroup v-for="group in parties" :label="group.label">
									<option v-for="party in group.list" v-bind:value="party.id"  :key='party.id'>
										{{ party.short_name }}
									</option>
								</optgroup>
							</select>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</script>

	<script type="text/x-template" id='party-span' inline-template>
		<span class='br2 f7 b dib ph1 tc' v-bind:class='"party-"+party.id'>{{ party.short_name.slice(0,chars) }}</span>
	</script>

	<script src="https://d3js.org/d3.v3.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vega/3.0.0-beta.30/vega.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vega-lite/2.0.0-beta.2/vega-lite.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vega-embed/3.0.0-beta.14/vega-embed.js"></script>
	<script src="sheetrock.min.js"></script>
	<script src="vue.min.js"></script>
	<script src="jquery-3.2.1.min.js"></script>
	<script src="parties.js"></script>
</body>
</html>
